## OS X Finder
.DS_Store

## Build generated
build/
build_spm/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa

# Swift Package Manager
.build/

# Carthage
Carthage/Build

# files used to do the cocoapods verification
PodTests/TestProject/Podfile.lock
PodTests/TestProject/Pods/Manifest.lock
PodTests/XCFrameworkTestProject/Pods/
PodTests/XCFrameworkTestProject/Podfile.lock
PodTests/XCFrameworkTestProject/Pods/Manifest.lock

# Swiftlint
swiftlint.rb
.idea